transformers
datasets
torch
langchain
langchain-together
langchain-huggingface
openai
tqdm
litellm
python-dotenv
matplotlib
selenium
pandas
deep-translator
protobuf
sentencepiece
seaborn
langchain-openai
polars

